<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ScriptEditor>
    <ZoomLevel>1</ZoomLevel>
    <WordWrap>false</WordWrap>
    <BackgroundImageOpacity>0.2</BackgroundImageOpacity>
    <BackgroundImagePlacement>BottomRight</BackgroundImagePlacement>
    <BackgroundImageStretch>UniformToFill</BackgroundImageStretch>
    <OpenAsFloatingWindow>false</OpenAsFloatingWindow>
    <ShowIntellisenseOnTypedWordStart>false</ShowIntellisenseOnTypedWordStart>
    <UseReadmemOnScriptTemplates>true</UseReadmemOnScriptTemplates>
  </ScriptEditor>
  <MemoryViewer>
    <MouseHoverPreview>true</MouseHoverPreview>
    <ZoomLevelOpcodes>1</ZoomLevelOpcodes>
    <ZoomLevelDump>1</ZoomLevelDump>
    <ShowRelatives>false</ShowRelatives>
    <ShowSymbols>false</ShowSymbols>
    <ShowModules>false</ShowModules>
    <HighlightDumpChanges>true</HighlightDumpChanges>
  </MemoryViewer>
  <UnityViewer>
    <ZoomLevel>1.25</ZoomLevel>
    <AssemblyZoomLevel>1</AssemblyZoomLevel>
  </UnityViewer>
  <UnrealViewer>
    <ZoomLevel>1.25</ZoomLevel>
    <ListZoomLevel>1</ListZoomLevel>
  </UnrealViewer>
  <Scanner>
    <PlaySound>true</PlaySound>
    <UseChunks>true</UseChunks>
    <ChunkSize>512000</ChunkSize>
  </Scanner>
  <Misc>
    <ProjectsFolder>C:\Users\igorb\OneDrive\Documentos\CoSMOS Projects\</ProjectsFolder>
    <AutoInjectMono>true</AutoInjectMono>
    <AutoEnableDotNetCollector>true</AutoEnableDotNetCollector>
    <CheckForUpdates>true</CheckForUpdates>
    <LastUpdateCheck>2022-12-19T01:02:16.498428Z</LastUpdateCheck>
    <LogSpeed>true</LogSpeed>
    <Theme>MetroDark</Theme>
    <ApplyThemeBasedOnWindowsSetting>true</ApplyThemeBasedOnWindowsSetting>
    <HotkeysEnabled>true</HotkeysEnabled>
  </Misc>
  <UI>
    <ConfirmCloseOnExit>true</ConfirmCloseOnExit>
    <MainFormWidth>376</MainFormWidth>
    <MainFormHeight>344</MainFormHeight>
    <FloatingScriptWindowSize>
      <Width>900</Width>
      <Height>1550</Height>
    </FloatingScriptWindowSize>
    <FloatingFindOutWindowSize>
      <Width>580</Width>
      <Height>400</Height>
    </FloatingFindOutWindowSize>
  </UI>
  <Debugger>
    <WaitAfterGUIUpdate>false</WaitAfterGUIUpdate>
    <OpenAsFloatingWindow>false</OpenAsFloatingWindow>
    <DebugMode>false</DebugMode>
    <UnexpectedBpBehavior>Ignore</UnexpectedBpBehavior>
    <AddAllocatedMemoryToWatchlist>false</AddAllocatedMemoryToWatchlist>
  </Debugger>
  <Disassembler>
    <AddLeadingZeroToHexNumbers>false</AddLeadingZeroToHexNumbers>
    <ResolveRip>true</ResolveRip>
    <SignedValues>true</SignedValues>
    <UpperCaseHex>true</UpperCaseHex>
    <UpperCaseMnemonics>false</UpperCaseMnemonics>
    <UpperCaseRegisters>false</UpperCaseRegisters>
    <UpperCaseKeywords>false</UpperCaseKeywords>
    <SpacesBetweenMemoryAddOperators>false</SpacesBetweenMemoryAddOperators>
    <SpaceAfterOperandSeparator>false</SpaceAfterOperandSeparator>
    <FirstOperandCharIndex>0</FirstOperandCharIndex>
    <AlwaysShowMemorySize>false</AlwaysShowMemorySize>
  </Disassembler>
  <Hotkeys>
    <NewScanUnknown>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </NewScanUnknown>
    <NewScanExact>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </NewScanExact>
    <NextScanChanged>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </NextScanChanged>
    <NextScanUnchanged>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </NextScanUnchanged>
    <NextScanIncreased>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </NextScanIncreased>
    <NextScanDecreased>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </NextScanDecreased>
    <NextScanExact>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </NextScanExact>
    <SpeedhackIncrease>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </SpeedhackIncrease>
    <SpeedhackDecrease>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </SpeedhackDecrease>
    <AttachToActiveProcess>
      <IntKey>0</IntKey>
      <Key>None</Key>
      <ModifierKeys>None</ModifierKeys>
    </AttachToActiveProcess>
  </Hotkeys>
</Settings>